@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}


/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.layout-content{
  padding:40px 150px;
}
@media screen and (max-width:1034px ){
  .layout-content{
    padding:40px 100px;
  }
}

@media screen and (max-width:758px ){
  .layout-content{
    padding:40px 50px;
  }
}